// font
.cf{
    font-family: 'Noto Sans TC', sans-serif;
}
.ef{
    font-family: 'Baloo Tamma 2', cursive;
}
// btn
.btn-white{
    background-color: #fff
}
// bg
.bg-white{
    background-color: #fff
}
// gray-border
.gray-border{
    border-color: E8E8DB;
}